services:
  api:
    build:
      context: .
      dockerfile: config/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./CMakeLists.txt:/app/CMakeLists.txt:ro
      - ./backend:/app/backend
      - ./config/.env:/app/.env
    command: [dotenvx run -f /app/.env -- /usr/local/bin/dev.sh]

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./config/default.conf:/etc/nginx/conf.d/default.conf:ro