services:
  api:
    build:
      context: .
      dockerfile: config/API/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./config/API/CMakeLists.txt:/app/CMakeLists.txt:ro
      - ./backend:/app/backend
      - ./config/API/GameConfig.json:/app/GameConfig.json:ro
    env_file:
      - config/API/.env
    command: [/usr/local/bin/dev.sh]

  # greenfingers-react:
  #   container_name: react-x-nginx
  #   build: 
  #     context: .
  #     dockerfile: config/frontend/Dockerfile
  #   ports:
  #     - "8080:80"