services:
  api:
    build:
      context: .
      dockerfile: config/API/Dockerfile
    ports:
      - "8000:8000"
      - "8001:8001"
    env_file:
      - config/API/.env
    networks:
      my_network:
        ipv4_address: 172.0.0.5
    deploy:
      resources:
        limits:
          memory: 16G

  greenfingers-react:
    container_name: react-x-nginx
    build: 
      context: .
      dockerfile: config/frontend/Dockerfile
    ports:
      - "8080:8080"
    networks:
      my_network:
        ipv4_address: 172.0.0.6
networks:
  my_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.0.0/24
          gateway: 172.0.0.1
